// 1. these are the global Parametrs (input/Output paths)
params {
    fastq = "${baseDir}/../data/*_{1,2}.fastq.gz"
    genome = "${baseDir}/../data/chr19.fa"
    outdir = "${baseDir}/../output"
}

// 2. process configurations (Resources & software)
process {
    // Default resources for any process not listed below
    cpus = 1
    memory = 2.GB
    time = 1.h

    withName: 'FASTQC' {
        cpus = 1
        memory = 2.GB
        time = 30.m
        module = 'fastqc'
    }

    withName: 'TRIMMOMATIC' {
        cpus = 2
        memory = 5.GB
        time = 1.h
        // Link to your Singularity container
        container = "${baseDir}/trimmomatic.sif"
    }

    withName: 'BWA' {
        cpus = 2
        memory = 7.GB
        time = 2.h
        module = 'bwa:samtools'
    }

    withName: 'VARIANT_CALLING' {
        cpus = 2
        memory = 8.GB
        time = 2.h
        module = 'bcftools:samtools'
    }

    withName: 'CREATE_DB' {
        cpus = 1
        memory = 2.GB
        time = 30.m
        // sqlite3 is usually available on system or via a module
    }
}

// 3. container engine Settings
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${baseDir}/../singularity_cache"
}

// 4. Execution profiles
profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    local {
        process.executor = 'local'
    }
}
